<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <strong>Lập hoá đơn thanh toán</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">CMND Bệnh nhân</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" [(ngModel)]="CMNDBenhNhan" class="form-control">
                <span class="help-block"></span>
                <button type="submit" class="btn btn-sm btn-primary" (click)="pressGo()"><i class="fa fa-dot-circle-o"></i> Go</button>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Họ tên bệnh nhân</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" [(ngModel)]="Ten" class="form-control" placeholder="6-50 ký tự">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tiền khám</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" [(ngModel)]="tienKham" class="form-control">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tiền thuốc</label>
              <div class="col-md-9">
                <p>{{ getSum() }}</p>
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="date-input">Ngày khám</label>
              <div class="col-md-9">
                <input class="form-control" id="date-input" type="date" [(ngModel)]="ngayKham" name="date-input" placeholder="date">
                <span class="help-block"></span>
            </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" mat-raised-button (click)="onSubmit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" mat-raised-button (click)="onReset()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</div>
